In [3]:
# Import Dependencies
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt
import json
%matplotlib inline

In [4]:
# Load JSON file containing 2016 Trump Tweets
tweets = pd.read_json("Resources/2016tweets.json")
tweets.head()

,source,text,created_at,retweet_count,favorite_count,is_retweet,id_str
0,Twitter for iPhone,Happy New Year from #MarALago! Thank you to my...,2016-01-01 06:07:28+00:00,1948,8258,False,682805320217980928
1,Twitter for iPhone,#VoteTrump2016 &amp; together we will #MakeAme...,2016-01-02 03:32:13+00:00,3057,7340,False,683128636279361536
2,Twitter for iPhone,Massive crowds expected in Mississippi tomorro...,2016-01-02 04:17:23+00:00,2145,6363,False,683140004625936384
3,Twitter for iPhone,"Heading to Biloxi, Mississippi. Massive crowds...",2016-01-02 22:42:16+00:00,1609,5756,False,683418056417251328
4,Twitter for iPhone,"Thank you #Biloxi, #Mississippi! Remember this...",2016-01-03 04:53:31+00:00,2472,5815,False,683511482684936192

In [5]:
# Get names of indexes for which column "is_retweet" is True
indexNames = tweets[tweets['is_retweet'] == True].index

# Delete these row indexes from dataFrame
tweets.drop(indexNames , inplace=True)

In [6]:
# Drop the "source" & "is_retweet" columns
tweets1 = tweets.drop(columns=['source','is_retweet'])

In [7]:
# Rename the columns to match the column names of other dataframes being used in this project
tweets2 = tweets1.rename(columns={"text":"Text","created_at":"Datetime", "retweet_count" :"Retweets",
                                  "id_str":"Tweet_Id","favorite_count":"Favorites"})
# Preview dataframe
tweets2.head()

,Text,Datetime,Retweets,Favorites,Tweet_Id
0,Happy New Year from #MarALago! Thank you to my...,2016-01-01 06:07:28+00:00,1948,8258,682805320217980928
1,#VoteTrump2016 &amp; together we will #MakeAme...,2016-01-02 03:32:13+00:00,3057,7340,683128636279361536
2,Massive crowds expected in Mississippi tomorro...,2016-01-02 04:17:23+00:00,2145,6363,683140004625936384
3,"Heading to Biloxi, Mississippi. Massive crowds...",2016-01-02 22:42:16+00:00,1609,5756,683418056417251328
4,"Thank you #Biloxi, #Mississippi! Remember this...",2016-01-03 04:53:31+00:00,2472,5815,683511482684936192

In [9]:
# Reorder the columns to match the column order of other dataframes to be merged with
tweets3 = tweets2[["Datetime", "Text", "Tweet_Id", "Retweets", "Favorites"]]

# Sort the table according to "Datetime" in descending order
tweets3.sort_values(by=['Datetime'], inplace=True, ascending=False)

# Reset the index
tweets4 = tweets3.reset_index(drop=True)

# Remove timezone information from datetime format
tweets4['Datetime'] = tweets4['Datetime'].apply(lambda x: x.replace(tzinfo=None))

# Show preview of cleaned-up dataframe
tweets4

,Datetime,Text,Tweet_Id,Retweets,Favorites
0,2016-12-30 19:46:55,"Join @AmerIcan32, founded by Hall of Fame lege...",814920722208296960,7366,25336
1,2016-12-29 14:54:21,My Administration will follow two simple rules...,814484710025994240,11330,45609
2,2016-12-28 22:06:28,'Economists say Trump delivered hope' https://...,814231064847728640,13919,51857
3,2016-12-26 23:32:28,The world was gloomy before I won - there was ...,813527932165558272,30090,128341
4,2016-12-25 12:46:41,#MerryChristmas https://t.co/5GgDmJrGMS,813003030186622976,42571,151610
...,...,...,...,...,...
1802,2016-01-03 04:53:31,"Thank you #Biloxi, #Mississippi! Remember this...",683511482684936192,2472,5815
1803,2016-01-02 22:42:16,"Heading to Biloxi, Mississippi. Massive crowds...",683418056417251328,1609,5756
1804,2016-01-02 04:17:23,Massive crowds expected in Mississippi tomorro...,683140004625936384,2145,6363
1805,2016-01-02 03:32:13,#VoteTrump2016 &amp; together we will #MakeAme...,683128636279361536,3057,7340
1806,2016-01-01 06:07:28,Happy New Year from #MarALago! Thank you to my...,682805320217980928,1948,8258

In [12]:
# Save to a new csv file
tweets4.to_csv('Output_data/tweets_2.csv')