In [1]:
# Import all dependencies
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Load the csv data files
trump_tweets = 'Output_data/realDonaldTrump-tweets.csv'

# Read the csv file as a Pandas dataframe
tweets_df = pd.read_csv(trump_tweets)

# Show the dataframe
tweets_df

,Tweet Id,Reply to,Text,Retweets,Favorites,Datetime
0,1300933256762798080,NaN,"Kenosha, Wisconsin, we’re with you all the way!",4284,13609,2020-09-01 23:07:13
1,1300921475713597447,PpollingNumbers,"Great honor, but think we are much higher than...",4522,19745,2020-09-01 22:20:24
2,1300917361147629569,esaagar,There has not. They are the Enemy of the Peopl...,6165,21199,2020-09-01 22:04:03
3,1300916103229526017,KurtSchlichter,Not even a “minor” one. Thank you!,4291,15568,2020-09-01 21:59:03
4,1300914658337910784,AndrewPollackFL,True!,7829,33648,2020-09-01 21:53:19
...,...,...,...,...,...,...
13316,815990335318982656,NaN,Various media outlets and pundits say that I t...,7371,40029,2017-01-02 18:37:10
13317,815989154555297792,NaN,"@CNN just released a book called ""Unprecedente...",3211,11512,2017-01-02 18:32:29
13318,815973752785793024,NaN,"Chicago murder rate is record setting - 4,331 ...",14173,53617,2017-01-02 17:31:17
13319,815930688889352192,NaN,"Well, the New Year begins. We will, together, ...",24010,106617,2017-01-02 14:40:10
13320,815422340540547073,NaN,TO ALL AMERICANS- #HappyNewYear &amp; many ble...,27211,110089,2017-01-01 05:00:10

In [4]:
# Keep all of rows of tweets that were not replies to someone else, ie. tweets Trump made to his main Twitter page
tweets_df = tweets_df[pd.isnull(tweets_df['Reply to'])]

# Remove the "Reply to" column
trump_tweets = tweets_df[["Datetime", "Text", "Tweet Id", "Retweets", "Favorites"]]

# Rename 'Tweet Id' column to be consistent with pre-election column name
trump_tweets = trump_tweets.rename(columns={"Tweet Id":"Tweet_Id"})

# Drop any row that contains null values
trump_tweets.dropna(inplace=True)

# Reset the index
tweets = trump_tweets.reset_index(drop=True)

# Preview the cleaned-up dataframe
tweets

,Datetime,Text,Tweet_Id,Retweets,Favorites
0,2020-09-01 23:07:13,"Kenosha, Wisconsin, we’re with you all the way!",1300933256762798080,4284,13609
1,2020-09-01 16:57:24,I was saddened to learn of the passing of Indi...,1300840191771340801,19844,124232
2,2020-09-01 15:18:53,Had a very productive conversation with Kevin ...,1300815396950478849,20444,107510
3,2020-09-01 15:09:40,"Heading to Kenosha, Wisconsin, to thank Law En...",1300813079366770689,22286,110602
4,2020-09-01 15:04:25,It never ends! Now they are trying to say that...,1300811758051954695,34998,138787
...,...,...,...,...,...
11077,2017-01-02 18:37:10,Various media outlets and pundits say that I t...,815990335318982656,7371,40029
11078,2017-01-02 18:32:29,"@CNN just released a book called ""Unprecedente...",815989154555297792,3211,11512
11079,2017-01-02 17:31:17,"Chicago murder rate is record setting - 4,331 ...",815973752785793024,14173,53617
11080,2017-01-02 14:40:10,"Well, the New Year begins. We will, together, ...",815930688889352192,24010,106617
11081,2017-01-01 05:00:10,TO ALL AMERICANS- #HappyNewYear &amp; many ble...,815422340540547073,27211,110089

In [6]:
# Save to a new csv file
tweets.to_csv('Output_data/tweets_1.csv')